#hidden{
	display: none;
}

#shown{
	display: inherit; /*idk if this is the right one*/
}
#utilities{
	display: inline-block;
	float: right;
}

#fullchat{
	width: 100%;
	display: block;
}

#chatbox{
	overflow: none;
	position: relative;
	width: 120%;
	/*height: 400px;*/
	border: 4px groove gray;
	padding: 10px;
	display: inline-block;
	background-color: rgba(241, 241, 212, 0.85);
}

#chatlog{
	overflow: auto;
	position: absolute;
	width: 97%;
	/*max-height: 400px;*/
	font-family: "Courier New", Courier, monospace;
	display:inline-block;
}

#monsterListBox{
  /*overflow: none;
  position: relative;
  height: 500px;*/
}

#monsterListContent{
  /*overflow: auto;
  position: absolute;
  width: 83%;
  max-height: 500px;*/
}

#psheetchange{
  border: 0px;
  margin: 1px 1px 1px 25px;
}

.attr_amt{
  margin: 3px;
}

.btn.attr_amt{
  font-size: 20px;
}

input#text{
	padding: 10px;
	border: 4px groove gray;
	width: 120%;
	background-color: rgba(241, 241, 212, 0.85);
	display: block;
}

.chat{
  margin-right: 0px;
}

#leave{
  position: fixed;
  bottom: 15px;
  left: 10px;
}

h1{
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	color: black;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

h2{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 1.5em;
	color: black;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

body{
	background-image: url(../assets/tavern.png);
	background-repeat:no-repeat ;
  background-size:cover;
  background-attachment: fixed;
    margin-bottom: 0px;
}

#sheet{
    display: none;
    float: left;
    background-color: rgba(26, 26, 23, 0.96);
    color: rgba(230, 155, 171, 0.96);
    /*margin: -8% -12.875% 7% 3%;*/
    width: 50%;
    border-radius: 3px;
    border: 1px solid #DEDEDE;
    font-family: 'MedievalSharp';
    margin-bottom: auto;
}

#dmstuff{
  overflow: none;
  position: relative;
  /*height is calculated in js*/
  display: none;
  float: left;
  background-color: rgba(56, 48, 9, 0.966);
  color: rgba(163, 163, 163, 0.966);
  width: 50%;
  border-radius: 3px;
  border: 1px solid #DEDEDE;
  font-family: 'MedievalSharp';
}

#dmcontent {
  overflow: auto;
  position: absolute;
  width: 100%;
}

#dmtextarea{
  rows: "30";
  cols: "50";
  width: 100%;
  height: 100%;
}

#sheet_title_input{
  width: 100%;
}

.dmnotes{
  display: inline-block;
  height: 100%;
}

.dmmonsterlist{
  display: inline-block;
  height: 100%;
}

.dmmonsteredit{
  display: inline-block;
  height: 100%;
}

.newMonsterTextField{
  width: 100%;
}

.newMonsterTextArea{
  width: 100%;
  rows: 2;
}

.newMonsterHD{
  width: 45%;
}

.dmencountercontent{
  display: inline-block;
  height: 100%;
}

.col {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid #dedede;
    width: 100%;
    display: inline-block;
    padding: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }


.no-border {
  border: none;
}

.title {
    text-align: center;
}

.roll{
		display: inline-block;
		padding: 10px;
		float: left;
    margin-right: 0%;
}

.roll_type{
    margin-left: 0%;
}

.rbtn{
	display: inline;
}

input[type="radio"]{
	display: inline;
    margin-left: 20px;
}

.btn{
  background-color: #000000;
  border: 3px solid;
  color: #FF0000;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 3px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  border-radius: 12px;
  border-color: #FF0000;
}

.btn.add_text {
  border: 2px solid;
  padding: 4px 4px;
  font-size: 13px;
  margin-right: 5px;
  margin-left: 5px;
}

.btn.but_sheet {
  font-size: 20px;
  margin: auto;
}

.btn.choose_sheet {
  font-size: 17px;
  margin: 15px;
}

.btn3{
  background-color: #000000;
  border: 3px solid;
  color: #FF0000;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 3px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 130px;
  font-size: 16px;
  border-radius: 12px;
  border-color: #FF0000;
}

.in.add_text.add_gem {
  width: 70%;
}

.in.add_text.add_table {
  width: 100%;
}

.in.create_p.attr {
  width: 50%;
}

.in.add_text.add_com {
  width: 70%;
}

.highlight {
  font-weight: bolder;
  font-size: 18px;
  color: red;
  margin: 7px;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: black;
    color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

label {
    font-family: "Trebuchet MS", sans-serif;
    cursor: pointer;
    color: rgb(241, 241, 212);
    /*margin-left: -30px;*/
}

.btn-group button {
  background-color: black;
  border: 3px solid red;
  color: rgb(241, 241, 212);;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.modal {
  position: absolute;
  top: 50%;
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 15%; /* Full height */
  margin: -100px 0 0 -150px;
  margin-left: 10%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7); 
}
