<!DOCTYPE html>
<html lang="en">
	<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/play.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=MedievalSharp">
    <link rel="stylesheet" type="text/css" href="../static/css/play.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Play D&D!</title>
	</head>
	<body>
		<div id=hidden>roomname: {{ room }}, clientname: {{ name }}, isplayerordm: {{ isPlayer }}</div>
		<h1 align="center">Welcome to {{ room }}, {{ name }}</h1>
		<div class="container">
			<div class="row row-no-gutters">
		    {% if isPlayer %}
					<div class="col-md-6 col-lg-6" id="sheet"></div>
					<button class="btn but_sheet" id = "create_sheet">Create New Player Sheet</button>
					<button class="btn but_sheet" id = "load_sheet">Load Saved Player Sheet</button>
		    {% else %}
		      <div class="col-md-6 col-lg-6" id="dmstuff"></div>
          <button class="btn but_sheet" id = "create_sheet">Create New DM Sheet</button>
					<button class="btn but_sheet" id = "load_sheet">Load Saved DM Sheet</button>
		    {% endif %}
				<div class="col-md-6 col-lg-6" id="utilities">
					<div id="fullchat">
						<div class="chat" id="chatbox">
							<div id="chatlog">
							</div>
						</div>
						<input id="text" size="118" placeholder="Enter message...">
					</div>

					 <div class="roll">
							<div class = "roll_type">
								<div class="rbtn">
									<label>Roll Type:</label><input type="radio" name = "roll_type" id = "single" checked="checked"><label>Single Roll</label>
								</div>
								<div class="rbtn">
									<input type="radio" name = "roll_type" id ="adv"><label>Advantage</label>
								</div>
								<div class="rbtn">
									<input type="radio" name = "roll_type" id ="disadv"><label>Disadvantage</label>
								</div>

							</div>

                            <label>Dice Roll: <span id="nd4">0</span>d4
                                              <span id="nd6">0</span>d6
                                              <span id="nd8">0</span>d8
                                              <span id="nd10">0</span>d10
                                              <span id="nd12">0</span>d12
                                              <span id="nd20">0</span>d20
                            <div class="btn-group">
                                <button id="d4">d4</button>
                                <button id="d6">d6</button>
                                <button id="d8">d8</button>
                                <button id="d10">d10</button>
                                <button id="d12">d12</button>
                                <button id="d20">d20</button>
                            </div></label>
							<div><label>Modifier: <select id = "modifier">
								<option value ="none">None</option>
								<option value="str">Strength</option>
								<option value="dex">Dexterity</option>
								<option value="const">Constitution</option>
								<option value="intell">Intelligence</option>
								<option value="wis">Wisdom</option>
								<option value="char">Charisma</option>
							</select></label></div>
							<button class = "btn" id ="dice_roll">Roll</button>
              <button class = "btn" id ="clear_roll">Clear</button>
                            <button class = "btn3" id = "stat_btn">Change Attributes</button>
					</div>

					<div class="modal" id="stat_change">
						{% if isPlayer %}
						<div class="col" id="psheetchange">
							<label class="attr_amt">To Modify:</label>
							<select id ="change_attrs" class="attr_amt">
								<option value="xp">Experience Points</option>
								<option value="str">Strength</option>
								<option value="dex">Dexterity</option>
								<option value="const">Constitution</option>
								<option value="intell">Intelligence</option>
								<option value="wis">Wisdom</option>
								<option value="char">Charisma</option>
								<option value="hp">Hit Points</option>
								<option value="pp">PP</option>
								<option value="gp">GP</option>
								<option value="ep">EP</option>
								<option value="sp">SP</option>
								<option value="cp">CP</option>
								<option value="curr_speed">Current Speed</option>
							</select>
							<label class="attr_amt">Amount:</label>
							<input class="attr_amt" id="attr_num" placeholder="Enter amount to change...">
							<label class="attr_amt">Increase or Decrease:</label>
							<button class = "btn attr_amt" id ="up_attr">+</button>
							<button class = "btn attr_amt" id ="down_attr">-</button>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<button class = "btn" id="leave">Leave Room</button>
	</body>
</html>
